<html>
    <head>
        <title>
            my first bootstrap code

        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css.map">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css.map">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">

        <script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
  


    </head>

    <style>
    .jumbotron {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    color: inherit;
    background-color:blanchedalmond;
}
    </style>
    <body>
        <h1 class="jumbotron">Hello bootstrap</h1>
        <a class ="btn btn-primary" href="#" role="button">Link</a>
        <div class="container"width="30px" height="50px">
            <div class="col-md-3 col-sm-12">
                <h1 class="jumbotron">HELLO</h1>
        </div>
        <div class="col-md-3 col-sm-12">
        <h1 class="jumbotron">HELLO</h1>
         </div>

                            <div class="col-md-3 col-sm-12">
                                <h1 class="jumbotron">HELLO</h1>
                            </div>
                                    <div class="col-md-3 col-sm-12">
                                        <h1 class="jumbotron">HELLO</h1>
                                    </div>

                                    <div class ="container">
                                        <div class="col-md-6 col-sm-12">
                                    <img src="../public/image/download.jpg">
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p>The oldest classical Greek and Latin writing had little or no space between words and could be written in boustrophedon (alternating directions). Over time, text direction (left to right) became standardized, and word dividers and terminal punctuation became common. The first way to divide sentences into groups was the original paragraphos, similar to an underscore at the beginning of the new group.[2] The Greek paragraphos evolved into the pilcrow (¶), which in English manuscripts in the Middle Ages can be seen inserted inline between sentences. The hedera leaf (e.g. ☙) has also been used in the same way.</p>
                                        </div>
                                    </div>
                                
       

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>

   
  
</html>